@media (max-width: 1048px) {
    body {
        margin-bottom: 50vh
    }
}

@media (min-width: 1048px) {
    body {
        margin-bottom: 2.5rem;
        margin-top: 2.5rem
    }
}

body {
    overflow-y: scroll
}

[shadow] {
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2)
}

[panel] {
    margin: .4rem 0 !important;
    padding: .4rem 0.4rem !important;
}

[kb-selected] {
    outline: 1px solid #9A9A9A;
}