@import "_variables.scss";

[bg="black-100"] {
    background-color: $color__black-100;
}

[bg="black-200"] {
    background-color: $color__black-200;
}

[bg="black-300"] {
    background-color: $color__black-300;
}

[bg="black-400"] {
    background-color: $color__black-400;
}

[bg="black-500"] {
    background-color: $color__black-500;
}

[bg="black-600"] {
    background-color: $color__black-600;
}

[bg="black-700"] {
    background-color: $color__black-700;
}

[bg="black-800"] {
    background-color: $color__black-800;
}

[bg="black-900"] {
    background-color: $color__black-900;
}

[bg="gray-100"] {
    background-color: $color__gray-100;
}

[bg="gray-200"] {
    background-color: $color__gray-200;
}

[bg="gray-300"] {
    background-color: $color__gray-300;
}

[bg="gray-400"] {
    background-color: $color__gray-400;
}

[bg="gray-500"] {
    background-color: $color__gray-500;
}

[bg="gray-600"] {
    background-color: $color__gray-600;
}

[bg="gray-700"] {
    background-color: $color__gray-700;
}

[bg="gray-800"] {
    background-color: $color__gray-800;
}

[bg="gray-900"] {
    background-color: $color__gray-900;
}

[bg="blue-100"] {
    background-color: $color__blue-100;
}

[bg="blue-200"] {
    background-color: $color__blue-200;
}

[bg="blue-300"] {
    background-color: $color__blue-300;
}

[bg="blue-400"] {
    background-color: $color__blue-400;
}

[bg="blue-500"] {
    background-color: $color__blue-500;
}

[bg="blue-600"] {
    background-color: $color__blue-600;
}

[bg="blue-700"] {
    background-color: $color__blue-700;
}

[bg="blue-800"] {
    background-color: $color__blue-800;
}

[bg="blue-900"] {
    background-color: $color__blue-900;
}

[bg="green-100"] {
    background-color: $color__green-100;
}

[bg="green-200"] {
    background-color: $color__green-200;
}

[bg="green-300"] {
    background-color: $color__green-300;
}

[bg="green-400"] {
    background-color: $color__green-400;
}

[bg="green-500"] {
    background-color: $color__green-500;
}

[bg="green-600"] {
    background-color: $color__green-600;
}

[bg="green-700"] {
    background-color: $color__green-700;
}

[bg="green-800"] {
    background-color: $color__green-800;
}

[bg="green-900"] {
    background-color: $color__green-900;
}

[bg="purple-100"] {
    background-color: $color__purple-100;
}

[bg="purple-200"] {
    background-color: $color__purple-200;
}

[bg="purple-300"] {
    background-color: $color__purple-300;
}

[bg="purple-400"] {
    background-color: $color__purple-400;
}

[bg="purple-500"] {
    background-color: $color__purple-500;
}

[bg="purple-600"] {
    background-color: $color__purple-600;
}

[bg="purple-700"] {
    background-color: $color__purple-700;
}

[bg="purple-800"] {
    background-color: $color__purple-800;
}

[bg="purple-900"] {
    background-color: $color__purple-900;
}

[bg="orange-100"] {
    background-color: $color__orange-100;
}

[bg="orange-200"] {
    background-color: $color__orange-200;
}

[bg="orange-300"] {
    background-color: $color__orange-300;
}

[bg="orange-400"] {
    background-color: $color__orange-400;
}

[bg="orange-500"] {
    background-color: $color__orange-500;
}

[bg="orange-600"] {
    background-color: $color__orange-600;
}

[bg="orange-700"] {
    background-color: $color__orange-700;
}

[bg="orange-800"] {
    background-color: $color__orange-800;
}

[bg="orange-900"] {
    background-color: $color__orange-900;
}

[bg="red-100"] {
    background-color: $color__red-100;
}

[bg="red-200"] {
    background-color: $color__red-200;
}

[bg="red-300"] {
    background-color: $color__red-300;
}

[bg="red-400"] {
    background-color: $color__red-400;
}

[bg="red-500"] {
    background-color: $color__red-500;
}

[bg="red-600"] {
    background-color: $color__red-600;
}

[bg="red-700"] {
    background-color: $color__red-700;
}

[bg="red-800"] {
    background-color: $color__red-800;
}

[bg="red-900"] {
    background-color: $color__red-900;
}

body[theme="light"] {
    [l-bg="black-100"] {
        background-color: $color__black-100;
    }

    [l-bg="black-200"] {
        background-color: $color__black-200;
    }

    [l-bg="black-300"] {
        background-color: $color__black-300;
    }

    [l-bg="black-400"] {
        background-color: $color__black-400;
    }

    [l-bg="black-500"] {
        background-color: $color__black-500;
    }

    [l-bg="black-600"] {
        background-color: $color__black-600;
    }

    [l-bg="black-700"] {
        background-color: $color__black-700;
    }

    [l-bg="black-800"] {
        background-color: $color__black-800;
    }

    [l-bg="black-900"] {
        background-color: $color__black-900;
    }

    [l-bg="gray-100"] {
        background-color: $color__gray-100;
    }

    [l-bg="gray-200"] {
        background-color: $color__gray-200;
    }

    [l-bg="gray-300"] {
        background-color: $color__gray-300;
    }

    [l-bg="gray-400"] {
        background-color: $color__gray-400;
    }

    [l-bg="gray-500"] {
        background-color: $color__gray-500;
    }

    [l-bg="gray-600"] {
        background-color: $color__gray-600;
    }

    [l-bg="gray-700"] {
        background-color: $color__gray-700;
    }

    [l-bg="gray-800"] {
        background-color: $color__gray-800;
    }

    [l-bg="gray-900"] {
        background-color: $color__gray-900;
    }

    [l-bg="blue-100"] {
        background-color: $color__blue-100;
    }

    [l-bg="blue-200"] {
        background-color: $color__blue-200;
    }

    [l-bg="blue-300"] {
        background-color: $color__blue-300;
    }

    [l-bg="blue-400"] {
        background-color: $color__blue-400;
    }

    [l-bg="blue-500"] {
        background-color: $color__blue-500;
    }

    [l-bg="blue-600"] {
        background-color: $color__blue-600;
    }

    [l-bg="blue-700"] {
        background-color: $color__blue-700;
    }

    [l-bg="blue-800"] {
        background-color: $color__blue-800;
    }

    [l-bg="blue-900"] {
        background-color: $color__blue-900;
    }

    [l-bg="green-100"] {
        background-color: $color__green-100;
    }

    [l-bg="green-200"] {
        background-color: $color__green-200;
    }

    [l-bg="green-300"] {
        background-color: $color__green-300;
    }

    [l-bg="green-400"] {
        background-color: $color__green-400;
    }

    [l-bg="green-500"] {
        background-color: $color__green-500;
    }

    [l-bg="green-600"] {
        background-color: $color__green-600;
    }

    [l-bg="green-700"] {
        background-color: $color__green-700;
    }

    [l-bg="green-800"] {
        background-color: $color__green-800;
    }

    [l-bg="green-900"] {
        background-color: $color__green-900;
    }

    [l-bg="purple-100"] {
        background-color: $color__purple-100;
    }

    [l-bg="purple-200"] {
        background-color: $color__purple-200;
    }

    [l-bg="purple-300"] {
        background-color: $color__purple-300;
    }

    [l-bg="purple-400"] {
        background-color: $color__purple-400;
    }

    [l-bg="purple-500"] {
        background-color: $color__purple-500;
    }

    [l-bg="purple-600"] {
        background-color: $color__purple-600;
    }

    [l-bg="purple-700"] {
        background-color: $color__purple-700;
    }

    [l-bg="purple-800"] {
        background-color: $color__purple-800;
    }

    [l-bg="purple-900"] {
        background-color: $color__purple-900;
    }

    [l-bg="orange-100"] {
        background-color: $color__orange-100;
    }

    [l-bg="orange-200"] {
        background-color: $color__orange-200;
    }

    [l-bg="orange-300"] {
        background-color: $color__orange-300;
    }

    [l-bg="orange-400"] {
        background-color: $color__orange-400;
    }

    [l-bg="orange-500"] {
        background-color: $color__orange-500;
    }

    [l-bg="orange-600"] {
        background-color: $color__orange-600;
    }

    [l-bg="orange-700"] {
        background-color: $color__orange-700;
    }

    [l-bg="orange-800"] {
        background-color: $color__orange-800;
    }

    [l-bg="orange-900"] {
        background-color: $color__orange-900;
    }

    [l-bg="red-100"] {
        background-color: $color__red-100;
    }

    [l-bg="red-200"] {
        background-color: $color__red-200;
    }

    [l-bg="red-300"] {
        background-color: $color__red-300;
    }

    [l-bg="red-400"] {
        background-color: $color__red-400;
    }

    [l-bg="red-500"] {
        background-color: $color__red-500;
    }

    [l-bg="red-600"] {
        background-color: $color__red-600;
    }

    [l-bg="red-700"] {
        background-color: $color__red-700;
    }

    [l-bg="red-800"] {
        background-color: $color__red-800;
    }

    [l-bg="red-900"] {
        background-color: $color__red-900;
    }
}

body[theme="dark"] {
    [d-bg="black-100"] {
        background-color: $color__black-100;
    }

    [d-bg="black-200"] {
        background-color: $color__black-200;
    }

    [d-bg="black-300"] {
        background-color: $color__black-300;
    }

    [d-bg="black-400"] {
        background-color: $color__black-400;
    }

    [d-bg="black-500"] {
        background-color: $color__black-500;
    }

    [d-bg="black-600"] {
        background-color: $color__black-600;
    }

    [d-bg="black-700"] {
        background-color: $color__black-700;
    }

    [d-bg="black-800"] {
        background-color: $color__black-800;
    }

    [d-bg="black-900"] {
        background-color: $color__black-900;
    }

    [d-bg="gray-100"] {
        background-color: $color__gray-100;
    }

    [d-bg="gray-200"] {
        background-color: $color__gray-200;
    }

    [d-bg="gray-300"] {
        background-color: $color__gray-300;
    }

    [d-bg="gray-400"] {
        background-color: $color__gray-400;
    }

    [d-bg="gray-500"] {
        background-color: $color__gray-500;
    }

    [d-bg="gray-600"] {
        background-color: $color__gray-600;
    }

    [d-bg="gray-700"] {
        background-color: $color__gray-700;
    }

    [d-bg="gray-800"] {
        background-color: $color__gray-800;
    }

    [d-bg="gray-900"] {
        background-color: $color__gray-900;
    }

    [d-bg="blue-100"] {
        background-color: $color__blue-100;
    }

    [d-bg="blue-200"] {
        background-color: $color__blue-200;
    }

    [d-bg="blue-300"] {
        background-color: $color__blue-300;
    }

    [d-bg="blue-400"] {
        background-color: $color__blue-400;
    }

    [d-bg="blue-500"] {
        background-color: $color__blue-500;
    }

    [d-bg="blue-600"] {
        background-color: $color__blue-600;
    }

    [d-bg="blue-700"] {
        background-color: $color__blue-700;
    }

    [d-bg="blue-800"] {
        background-color: $color__blue-800;
    }

    [d-bg="blue-900"] {
        background-color: $color__blue-900;
    }

    [d-bg="green-100"] {
        background-color: $color__green-100;
    }

    [d-bg="green-200"] {
        background-color: $color__green-200;
    }

    [d-bg="green-300"] {
        background-color: $color__green-300;
    }

    [d-bg="green-400"] {
        background-color: $color__green-400;
    }

    [d-bg="green-500"] {
        background-color: $color__green-500;
    }

    [d-bg="green-600"] {
        background-color: $color__green-600;
    }

    [d-bg="green-700"] {
        background-color: $color__green-700;
    }

    [d-bg="green-800"] {
        background-color: $color__green-800;
    }

    [d-bg="green-900"] {
        background-color: $color__green-900;
    }

    [d-bg="purple-100"] {
        background-color: $color__purple-100;
    }

    [d-bg="purple-200"] {
        background-color: $color__purple-200;
    }

    [d-bg="purple-300"] {
        background-color: $color__purple-300;
    }

    [d-bg="purple-400"] {
        background-color: $color__purple-400;
    }

    [d-bg="purple-500"] {
        background-color: $color__purple-500;
    }

    [d-bg="purple-600"] {
        background-color: $color__purple-600;
    }

    [d-bg="purple-700"] {
        background-color: $color__purple-700;
    }

    [d-bg="purple-800"] {
        background-color: $color__purple-800;
    }

    [d-bg="purple-900"] {
        background-color: $color__purple-900;
    }

    [d-bg="orange-100"] {
        background-color: $color__orange-100;
    }

    [d-bg="orange-200"] {
        background-color: $color__orange-200;
    }

    [d-bg="orange-300"] {
        background-color: $color__orange-300;
    }

    [d-bg="orange-400"] {
        background-color: $color__orange-400;
    }

    [d-bg="orange-500"] {
        background-color: $color__orange-500;
    }

    [d-bg="orange-600"] {
        background-color: $color__orange-600;
    }

    [d-bg="orange-700"] {
        background-color: $color__orange-700;
    }

    [d-bg="orange-800"] {
        background-color: $color__orange-800;
    }

    [d-bg="orange-900"] {
        background-color: $color__orange-900;
    }

    [d-bg="red-100"] {
        background-color: $color__red-100;
    }

    [d-bg="red-200"] {
        background-color: $color__red-200;
    }

    [d-bg="red-300"] {
        background-color: $color__red-300;
    }

    [d-bg="red-400"] {
        background-color: $color__red-400;
    }

    [d-bg="red-500"] {
        background-color: $color__red-500;
    }

    [d-bg="red-600"] {
        background-color: $color__red-600;
    }

    [d-bg="red-700"] {
        background-color: $color__red-700;
    }

    [d-bg="red-800"] {
        background-color: $color__red-800;
    }

    [d-bg="red-900"] {
        background-color: $color__red-900;
    }
}

[pad="p"] p {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

[pad="body"] {
    padding: $padding--extra-large 0;

    @media all and (max-width: $breakpoint) {
        padding: 0;
        padding-bottom: 40vh;
    }
}

[pad="content"] {
    padding: $padding--normal $padding--extra-large;
}

[mar-left="small"] {
    margin-left: $padding--small;
}

[mar-left="normal"] {
    margin-left: $padding--normal;
}

[mar-left="large"] {
    margin-left: $padding--large;
}

[mar-left="extra"] {
    margin-left: $padding--extra-large;
}

[mar-right="small"] {
    margin-right: $padding--small;
}

[mar-right="normal"] {
    margin-right: $padding--normal;
}

[mar-right="large"] {
    margin-right: $padding--large;
}

[mar-right="extra"] {
    margin-right: $padding--extra-large;
}

[txt~="small"] {
    font-size: 1.2rem;
    line-height: 1.4rem;
}

[txt~="large"] {
    font-size: 1.6rem;
    line-height: 1.8rem;
}

[txt~="right"] {
    text-align: right;
}