@import "_variables.scss";

[pagination] {
    margin-bottom: $padding--small;
    margin-top: $padding--small;
    text-align: center;
    width: 100%;
}

[pager] {
    border: 1px solid $color__black-800;
    display: inline-block;
    margin: $padding--small 0;
    outline: none;
    padding: $padding--small $padding--normal;
}

[pager~="left"] {
    border-radius: $padding--small;
}

[pager~="right"] {
    border-radius: $padding--small;
}

[pager~="disabled"] {
    &:link:hover {
        cursor: default;
        text-decoration: none;
    }
}

[page] {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin: $padding--small 0;
    padding: $padding--small $padding--normal;
}

body[theme="light"] {
    [pager], [pager]:link, [pager]:visited {
        color: $color__black-800;
        border-color: $color__black-800;
    }

    [pager~="disabled"], [pager~="disabled"]:link, [pager~="disabled"]:visited {
        color: $color__black-400;
        border-color: $color__black-400;
    }

    [page] {
        color: $color__black-800;
    }
}

body[theme="dark"] {
    [pager] {
        color: $color__gray-100;
        border-color: $color__gray-100;
    }

    [pager~="disabled"] {
        color: $color__gray-600;
        border-color: $color__gray-600;
    }

    [page] {
        color: $color__gray-100;
    }
}