$breakpoint: 1048px;

$color__black-100: #EBEBEB;
$color__black-200: #CECECE;
$color__black-300: #B0B0B1;
$color__black-400: #747476;
$color__black-500: #39393B;
$color__black-600: #333335;
$color__black-700: #222223;
$color__black-800: #1A1A1B;
$color__black-900: #111112;

$color__gray-100: #F7F7F7;
$color__gray-200: #EAEAEA;
$color__gray-300: #DDDDDD;
$color__gray-400: #C4C4C4;
$color__gray-500: #ABABAB;
$color__gray-600: #9A9A9A;
$color__gray-700: #676767;
$color__gray-800: #4D4D4D;
$color__gray-900: #333333;

$color__blue-100: #ECF4FA;
$color__blue-200: #CFE4F2;
$color__blue-300: #B2D3EB;
$color__blue-400: #78B3DB;
$color__blue-500: #3E92CC;
$color__blue-600: #3883B8;
$color__blue-700: #25587A;
$color__blue-800: #1C425C;
$color__blue-900: #132C3D;

$color__green-100: #EEF6ED;
$color__green-200: #D3E8D3;
$color__green-300: #B9D9B9;
$color__green-400: #85BD84;
$color__green-500: #50A14F;
$color__green-600: #489147;
$color__green-700: #30612F;
$color__green-800: #244824;
$color__green-900: #183018;

$color__purple-100: #ECECF1;
$color__purple-200: #D1D0DC;
$color__purple-300: #B5B4C7;
$color__purple-400: #7D7B9C;
$color__purple-500: #454372;
$color__purple-600: #3E3C67;
$color__purple-700: #292844;
$color__purple-800: #1F1E33;
$color__purple-900: #151422;

$color__orange-100: #FBF1E9;
$color__orange-200: #F5DDC9;
$color__orange-300: #EFC8A8;
$color__orange-400: #E29E67;
$color__orange-500: #D67526;
$color__orange-600: #C16922;
$color__orange-700: #804617;
$color__orange-800: #603511;
$color__orange-900: #40230B;

$color__red-100: #FCEEED;
$color__red-200: #F8D5D2;
$color__red-300: #F4BBB6;
$color__red-400: #EC8980;
$color__red-500: #E45649;
$color__red-600: #CD4D42;
$color__red-700: #89342C;
$color__red-800: #672721;
$color__red-900: #441A16;

$color--black: #1c1d21;
$color--black--dark: #0b0b0b;
$color--black--light: #555555;
$color--black--lightish: mix($color--black, $color--black--light);
$color--blue: #3e92cc;
$color--blue--light: lighten($color--blue, 10%);
$color--blue--dark: #275C82;
$color--gray: #ababab;
$color--gray--dark: mix($color--black, $color--gray);
$color--gray--light: #e6e6e6;
$color--gray--lightish: mix($color--gray, $color--gray--light);
$color--green: #50a14f;
$color--green--dark: #427553;
$color--orange: #d67526;
$color--purple: #454372;
$color--red: #e45649;
$color--white: #fafafa;

$height--small: 2rem;
$height--normal: 3rem;
$height--large: 3.6rem;

$padding--small: 0.2rem;
$padding--normal: 0.4rem;
$padding--large: 0.6rem;
$padding--extra-large: 0.8rem;