@import "_variables.scss";

button, input, select, textarea {
    background-color: transparent;
    border: 1px solid $color__black-800;
    border-radius: $padding--small;
    display: block;
    margin: $padding--small 0;
    outline: none;
    padding: $padding--small $padding--normal;
    width: 100%;
}

button[type="button"], input[type="button"] {
    border-radius: $padding--small;
}

body[theme="light"] {
    button, input, select, textarea {
        border-color: $color__black-800;
        color: $color__black-800;
    }

    button:focus, input:focus, select:focus, textarea:focus,
    button:hover, input:hover, select:hover, textarea:hover {
        border-color: $color__blue-500;
    }
    
    button[error], input[error], select[error], textarea[error] {
        border-color: $color__red-500;
    }

    button[success], input[success], select[success], textarea[success] {
        border-color: $color__green--dark;
    }
}

body[theme="dark"] {
    button, input, select, textarea {
        border-color: $color__gray-500;
        color: $color__gray-100;
    }

    button:focus, input:focus, select:focus, textarea:focus,
    button:hover, input:hover, select:hover, textarea:hover {
        border-color: $color__blue-500;
    }
    
    button[error], input[error], select[error], textarea[error] {
        border-color: $color__red-500;
    }

    button[success], input[success], select[success], textarea[success] {
        border-color: $color__green-500;
    }
}
