@import "_variables.scss";

[nav] {
    display: flex;
    flex-wrap: nowrap;
}

[nav~="primary"] {
    line-height: $height--large;

    > [nav-section] > [nav-item] > * {
        line-height: $height--large;
    }
}

[nav~="primary"] > [nav-section] {
    > form[nav-item] {
        display: flex;
    }

    > form[nav-item],
    > input[nav-item],
    > select[nav-item] {
        line-height: 2rem;
        margin-left: $padding--large;
        margin-right: $padding--large;
    }

    > form[nav-item] input,
    > form[nav-item] select,
    > input[nav-item],
    > select[nav-item] {
        line-height: 2rem;
        margin-bottom: (($height--normal - 2.4rem + 0.2rem) / 2 + 0.1rem);
        margin-top: (($height--normal - 2.4rem + 0.2rem) / 2 + 0.1rem);
    }
}

[nav~="secondary"] {
    line-height: $height--normal;
    overflow-y: auto;

    > [nav-section] > [nav-item] > * {
        line-height: $height--normal;
    }
}

[nav-section] {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: nowrap;
}

[nav-section~="grow"] {
    flex: 1 1 auto;
}

[nav-item] {
    color: $color__gray-100;
    flex: 0 1 auto;

    > * {
        color: $color__gray-100;
        display: block;
        padding: 0 $padding--large;
    }

    > a, > a:link {
        color: $color__gray-100;
        white-space: nowrap;
    }
}

[nav-item~="brand"] {
    font-weight: bold;
}

body[theme="light"] {
    [nav~="primary"] > [nav-section] > form[nav-item] > *,
    [nav~="primary"] > [nav-section] > input[nav-item],
    [nav~="primary"] > [nav-section] > select[nav-item] {
        color: $color__black-700;
    }

    [nav-item] {
        color: $color__gray-100;
    }

    [nav-item] > * {
        color: $color__gray-100;
    }

    [nav-item] > a, [nav-item] > a:link {
        color: $color__gray-100;
    }
}

body[theme="dark"] {
    [nav~="primary"] > [nav-section] > form[nav-item] > *,
    [nav~="primary"] > [nav-section] > input[nav-item],
    [nav~="primary"] > [nav-section] > select[nav-item] {
        color: $color__gray-100;
    }

    [nav-item] {
        color: $color__gray-100;
    }

    [nav-item] > * {
        color: $color__gray-100;
    }

    [nav-item] > a, [nav-item] > a:link {
        color: $color__gray-100;
    }
}