$breakpoint: 1048px;

$color--black: #1c1d21;
$color--black--light: #555555;
$color--blue: #3e92cc;
$color--blue--dark: #275C82;
$color--gray: #ababab;
$color--gray--lightish: #d5d5d5;
$color--gray--light: #e6e6e6;
$color--green: #50a14f;
$color--green--dark: #427553;
$color--orange: #d67526;
$color--purple: #454372;
$color--red: #e45649;
$color--white: #fafafa;

$height--small: 2rem;
$height--normal: 3rem;
$height--large: 3.6rem;

$padding--small: 0.2rem;
$padding--normal: 0.4rem;
$padding--large: 0.6rem;
$padding--extra-large: 0.8rem;