[square] {
    display: block;
    height: 3.6rem;
    position: relative;
    width: 3.6rem;

    > [part] {
        height: 1.6rem;
        position: absolute;
        width: 1.6rem;
    }

    > [part~="top"] {
        top: 0;
    }

    > [part~="bottom"] {
        bottom: 0;
    }

    > [part~="right"] {
        right: 0;
    }

    > [part~="left"] {
        left: 0;
    }

    > [part~="center"] {
        left: 1rem;
    }
}
