@import "_variables.scss";

[aria-label] {
    position: relative;
    cursor: pointer;

    &:after {
        background: $color--black;
        border-radius: 2px;
        bottom: 100%;
        color: #fff;
        content: attr(aria-label);
        left: 50%;
        margin-bottom: 10px;
        opacity: 0;
        padding: .5em 1em;
        pointer-events: none;
        position: absolute;
        transform: translate(-50%, 0.4rem);
        transform-origin: top;
        transition: all .18s ease-out .18s;
        text-indent: 0;
        font-weight: normal;
        font-style: normal;
        text-shadow: none;
        font-size: 1.2rem;
        white-space: normal;
        width: 80px;
        z-index: 10;
    }

    &:before {
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-top-color: $color--black;
        opacity: 0;
        pointer-events: none;
        transition: all .18s ease-out .18s;
        content: "";
        position: absolute;
        z-index: 10;
        bottom: 100%;
        left: 50%;
        transform: translate(-50%, 0.4rem);
        transform-origin: top;
    }

    &:hover {
        &:before,
        &:after {
            opacity: 1;
            pointer-events: none;
            transform: translate(-50%, 0);
        }
    }
}
