Database(
    name: "stry",
    version: "3.0.0",
    tables: [
        // Core Tables
        Table(
            name: "Author",
            not_exists: true,
            columns: [
                Column( name: "Id",             type: String,         required: true,     primary: true, ),
                Column( name: "Name",           type: String,         required: true, ),
                Column( name: "Created",        type: DateTime,       required: true, ),
                Column( name: "Updated",        type: DateTime,       required: true, ),
            ],
        ),
        Table(
            name: "Chapter",
            not_exists: true,
            columns: [
                Column( name: "Id",             type: String,         required: true,     primary: true, ),
                Column( name: "Name",           type: String,         required: true, ),
                Column( name: "Pre",            type: String,         required: true, ),
                Column( name: "Main",           type: String,         required: true, ),
                Column( name: "Post",           type: String,         required: true, ),
                Column( name: "Words",          type: Number,         required: true, ),
                Column( name: "Created",        type: DateTime,       required: true, ),
                Column( name: "Updated",        type: DateTime,       required: true, ),
            ],
        ),
        Table(
            name: "Origin",
            not_exists: true,
            columns: [
                Column( name: "Id",             type: String,         required: true,     primary: true, ),
                Column( name: "Name",           type: String,         required: true, ),
                Column( name: "Created",        type: DateTime,       required: true, ),
                Column( name: "Updated",        type: DateTime,       required: true, ),
            ],
        ),
        Table(
            name: "Story",
            not_exists: true,
            columns: [
                Column( name: "Id",             type: String,         required: true,     primary: true, ),
                Column( name: "Name",           type: String,         required: true, ),
                Column( name: "Summary",        type: String,         required: true, ),
                Column( name: "Language",       type: String,         required: true, ),
                Column( name: "Rating",         type: String,         required: true, ),
                Column( name: "State",          type: String,         required: true, ),
                Column( name: "Created",        type: DateTime,       required: true, ),
                Column( name: "Updated",        type: DateTime,       required: true, ),
            ],
        ),
        Table(
            name: "Tag",
            not_exists: true,
            columns: [
                Column( name: "Id",             type: String,         required: true,     primary: true, ),
                Column( name: "Name",           type: String,         required: true, ),
                Column( name: "Type",           type: String,         required: true, ),
                Column( name: "Created",        type: DateTime,       required: true, ),
                Column( name: "Updated",        type: DateTime,       required: true, ),
            ],
        ),


        // Worker Tables
        Table(
            name: "Task",
            not_exists: true,
            columns: [
                Column( name: "Id",             type: String,         required: true,     primary: true, ),
                Column( name: "Site",           type: String,         required: true, ),
                Column( name: "Url",            type: String,         required: true, ),
                Column( name: "Chapter",        type: Number, ),
                Column( name: "Completed",      type: Boolean,        required: true, ),
                Column( name: "Created",        type: DateTime,       required: true, ),
                Column( name: "Updated",        type: DateTime,       required: true, ),
            ],
        ),
        Table(
            name: "Worker",
            not_exists: true,
            columns: [
                Column( name: "Site",           type: String,         required: true,     primary: true, ),
                Column( name: "Task",           type: String, ),
                Column( name: "Created",        type: DateTime,       required: true, ),
                Column( name: "Updated",        type: DateTime,       required: true, ),
            ],
            foreign_keys: [
                ForeignKey( table: "Task",     local: "Task",       foreign: "Id", ),
            ],
        ),


        // Linking Tables
        Table(
            name: "StoryAuthor",
            not_exists: true,
            columns: [
                Column( name: "StoryId",        type: String,         required: true, ),
                Column( name: "AuthorId",       type: String,         required: true, ),
                Column( name: "Created",        type: DateTime,       required: true, ),
                Column( name: "Updated",        type: DateTime,       required: true, ),
            ],
            foreign_keys: [
                ForeignKey( table: "Story",     local: "StoryId",       foreign: "Id", ),
                ForeignKey( table: "Author",    local: "AuthorId",      foreign: "Id", ),
            ],
        ),
        Table(
            name: "StoryChapter",
            not_exists: true,
            columns: [
                Column( name: "StoryId",        type: String,         required: true, ),
                Column( name: "ChapterId",      type: String,         required: true, ),
                Column( name: "Place",          type: Number,         required: true, ),
                Column( name: "Created",        type: DateTime,       required: true, ),
                Column( name: "Updated",        type: DateTime,       required: true, ),
            ],
            foreign_keys: [
                ForeignKey( table: "Story",     local: "StoryId",       foreign: "Id", ),
                ForeignKey( table: "Chapter",   local: "ChapterId",     foreign: "Id", ),
            ],
        ),
        Table(
            name: "StoryOrigin",
            not_exists: true,
            columns: [
                Column( name: "StoryId",        type: String,         required: true, ),
                Column( name: "OriginId",       type: String,         required: true, ),
                Column( name: "Created",        type: DateTime,       required: true, ),
                Column( name: "Updated",        type: DateTime,       required: true, ),
            ],
            foreign_keys: [
                ForeignKey( table: "Story",     local: "StoryId",       foreign: "Id", ),
                ForeignKey( table: "Origin",    local: "OriginId",      foreign: "Id", ),
            ],
        ),
        Table(
            name: "StoryTag",
            not_exists: true,
            columns: [
                Column( name: "StoryId",        type: String,         required: true, ),
                Column( name: "TagId",          type: String,         required: true, ),
                Column( name: "Created",        type: DateTime,       required: true, ),
                Column( name: "Updated",        type: DateTime,       required: true, ),
            ],
            foreign_keys: [
                ForeignKey( table: "Story",     local: "StoryId",       foreign: "Id", ),
                ForeignKey( table: "Tag",       local: "TagId",         foreign: "Id", ),
            ],
        ),
    ],
)