{% extends "base.html" %}

{% block head %}{% endblock %}

{% block content %}
<div class="center-contents--column">
    <img src="/apple-touch-icon-57x57.png" alt="stry icon" style="border-radius: 0.2rem;">
    <p style="text-align: center;">
        <b>stry</b><br>
        v{{ meta.version }}-{{ meta.git }}<br>
        A mini self-hosted Archive of Our Own.
    </p>
</div>
<p>
    <b>Details:</b><br>
    {% for lib in details %}
        {{ lib }}<br>
    {% endfor %}
</p>
<details>
    <summary style="line-height: 1.8rem;"><b>Licenses:</b></summary>
    <pre style="font-family: 'Courier New', Courier, monospace; overflow-x: scroll;">{{ licenses }}</pre>
</details>
{% endblock %}

{% block foot %}
<script src="/js/stry-dashboard.js"></script>
{% endblock %}
