{% extends "../base-dashboard.html" %}

{% block content %}
<div grid>
    <div grid-column="2" pad="content">
        <button>add</button>
        <hr>
        <a label bg="gray-700" href="#">Downloads</a>
        <br>
        <a label href="#">Queue</a>
        <br>
        <a label href="#">Updates</a>
    </div>
    <div grid-column="10">
        <div panel>
            <div head>
                <h3>Archive Of Our Own</h3>
            </div>
            <div body pad="content">
                <div flex mar-bottom="extra">
                    <p flex-item="grow"><a href="#">Standing Alone (gets you killed)</a> by Count24</p>
                    <p flex-item="grow" txt="right">18 / 27 chapters</p>
                </div>
                <div progress-bar><div progress style="width: 66%;"></div></div>
            </div>
        </div>
        <hr>
        <div panel>
            <div head>
                <h3>FanFiction</h3>
            </div>
            <div body pad="content">
                <div flex mar-bottom="extra">
                    <p flex-item="grow"><a href="#">The Augurey</a> by La-Matrona</p>
                    <p flex-item="grow" txt="right">23 / 40 chapters</p>
                </div>
                <div progress-bar><div progress style="width: 57%;"></div></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/js/stry-dashboard.js"></script>
{% endblock %}