{% extends "../base-standard.html" %}

{% import "../macros.html" as scope %}

{% block content %}
{% call scope::story(story) %}
<hr />
<p id="chapter-name">Chapter {{ page }}: {{ chapter.name }}</p>
<hr />
<div pad="p">{{ chapter.main|markdown|safe }}</div>
<hr />
{{ pagination|safe }}
{% endblock %}

{% block foot %}
<script>
    window.onscroll = function() {
        var pageHeight = document.documentElement.offsetHeight;
        var windowHeight = window.innerHeight;
        var scrollPosition = window.scrollY || window.pageYOffset || document.body.scrollTop + (document.documentElement && document.documentElement.scrollTop || 0);

        if (pageHeight <= windowHeight + scrollPosition) {
            alert('At the bottom');
        }
    };
</script>
{% endblock %}
