@import "_variables.scss";

[progress-bar] {
    background-color: $color__gray-500;
    border-radius: $padding--normal;
    height: $padding--normal;
    margin: $padding--normal 0;
    position: relative;
    width: 100%;

    [progress] {
        background-color: $color__blue-500;
        border-radius: $padding--normal;
        height: $padding--normal;
        left: 0;
        position: absolute;
        top: 0;
    }
}