* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #e6e6e6;
  color: #1c1d21;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
}

a, a:link {
  color: #275C82;
}
a:hover, a:link:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.6rem;
  font-weight: normal;
}

hr {
  background: #c9c9c9;
  border: none;
  box-shadow: none;
  height: 1px;
  margin: 10px 0;
}

[flex] {
  display: flex;
}

[flex~="overflow"] {
  overflow-y: auto;
}

[flex-item] {
  flex: 1;
}

[flex-item~="grow"] {
  flex: 1 1 auto;
}

[grid] {
  display: flex;
}
@media (max-width: 1048px) {
  [grid] {
    display: block;
  }
}

[grid="auto"] {
  flex: 1 auto;
}

[grid="grow"] {
  flex: 1 1 auto;
}

[grid-column] {
  flex-direction: column;
}

[grid-column~="max"] {
  max-width: 102.4rem;
}

[grid-column~="1"] {
  flex: 1;
}

[grid-column~="2"] {
  flex: 2;
}

[grid-column~="3"] {
  flex: 3;
}

[grid-column~="4"] {
  flex: 4;
}

[grid-column~="5"] {
  flex: 5;
}

[grid-column~="6"] {
  flex: 6;
}

[grid-column~="7"] {
  flex: 7;
}

[grid-column~="8"] {
  flex: 8;
}

[grid-column~="9"] {
  flex: 9;
}

[grid-column~="10"] {
  flex: 10;
}

[grid-column~="11"] {
  flex: 11;
}

[grid-column~="12"] {
  flex: 12;
}

[bg="black"] {
  background-color: #1c1d21;
}

[bg="black-light"] {
  background-color: #555555;
}

[bg="blue"] {
  background-color: #3e92cc;
}

[bg="gray"] {
  background-color: #ababab;
}

[bg="green"] {
  background-color: #50a14f;
}

[bg="green-dark"] {
  background-color: #427553;
}

[bg="orange"] {
  background-color: #d67526;
}

[bg="purple"] {
  background-color: #454372;
}

[bg="red"] {
  background-color: #e45649;
}

[bg="white"] {
  background-color: #fafafa;
}

[pad="body"] {
  padding: 0.8rem 0;
}
@media all and (max-width: 1048px) {
  [pad="body"] {
    padding: 0;
    padding-bottom: 40vh;
  }
}

[pad="content"] {
  padding: 0.4rem 0.8rem;
}

[mar-right="small"] {
  margin-right: 0.2rem;
}

[mar-right="normal"] {
  margin-right: 0.4rem;
}

[mar-right="large"] {
  margin-right: 0.6rem;
}

[mar-right="extra"] {
  margin-right: 0.8rem;
}

[text~="small"] {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

[text~="right"] {
  text-align: right;
}

button, input, select, textarea {
  border: 1px solid #1c1d21;
  border-radius: 0.2rem;
  display: block;
  margin: 0.2rem 0;
  outline: none;
  padding: 0.2rem 0.4rem;
  width: 100%;
}
button:focus, button:hover, input:focus, input:hover, select:focus, select:hover, textarea:focus, textarea:hover {
  border-color: #3e92cc;
}
button[error], input[error], select[error], textarea[error] {
  border-color: #e45649;
}
button[success], input[success], select[success], textarea[success] {
  border-color: #50a14f;
}

button[type="button"], input[type="button"] {
  border-radius: 0.2rem;
}

[label] {
  border-radius: 0.2rem;
  color: #fafafa;
  font-size: 1.2rem;
  margin: 0.2rem;
  padding: 0.2rem 0.4rem;
}
[label]:link, [label]:hover, [label]:link:hover {
  color: #fafafa;
}

[label="black"] {
  background-color: #1c1d21;
}

[label="black-light"] {
  background-color: #555555;
}

[label="blue"] {
  background-color: #3e92cc;
}

[label="gray"] {
  background-color: #ababab;
}

[label="green"] {
  background-color: #50a14f;
}

[label="orange"] {
  background-color: #d67526;
}

[label="purple"] {
  background-color: #454372;
}

[label="red"] {
  background-color: #e45649;
}

[label-list] {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.4rem;
}
[label-list] > [label]:first-child {
  margin-left: 0;
}

[nav] {
  display: flex;
  flex-wrap: nowrap;
}

[nav~="primary"] {
  background-color: #1c1d21;
  line-height: 3.6rem;
}
[nav~="primary"] > [nav-section] > [nav-item] > * {
  line-height: 3.6rem;
}

[nav~="primary"] > [nav-section] > input[nav-item], [nav~="primary"] > [nav-section]  > select[nav-item] {
  color: #1c1d21;
  line-height: 2rem;
  margin: 0.5rem 0.6rem;
}

[nav~="secondary"] {
  line-height: 3rem;
  overflow-y: auto;
}
[nav~="secondary"] > [nav-section] > [nav-item] > * {
  line-height: 3rem;
}

[nav-section] {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: nowrap;
}

[nav-section~="grow"] {
  flex: 1 1 auto;
}

[nav-item] {
  color: #fafafa;
  flex: 0 1 auto;
}
[nav-item] > * {
  color: #fafafa;
  display: block;
  padding: 0 0.6rem;
}
[nav-item] > a, [nav-item] > a:link {
  color: #fafafa;
  white-space: nowrap;
}

[nav-item~="brand"] {
  font-weight: bold;
}

[pagination] {
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
  text-align: center;
  width: 100%;
}

[pager] {
  border: 1px solid #ababab;
  display: inline-block;
  margin: 0.2rem 0;
  outline: none;
  padding: 0.2rem 0.4rem;
}

[pager~="left"] {
  border-radius: 0.2rem;
}

[pager~="right"] {
  border-radius: 0.2rem;
}

[pager~="disabled"] {
  color: #555555;
  border-color: #e6e6e6;
}
[pager~="disabled"]:link:hover {
  cursor: default;
  text-decoration: none;
}

[page] {
  color: #555555;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin: 0.2rem 0;
  padding: 0.2rem 0.4rem;
}

[panel] {
  display: block;
  margin: 0.8rem 0;
  position: relative;
}
[panel] > [body] {
  color: #555555;
  font-size: 1.4rem;
}
[panel] > [foot] {
  color: #555555;
  font-size: 1.4rem;
}

[panel] > [head] {
  color: #555555;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
[panel] > [head] h3 {
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 0.2rem;
}
[panel] > [head] p, [panel] > [head] > * {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

[square] {
  display: block;
  height: 3.6rem;
  min-width: 3.6rem;
  position: relative;
  width: 3.6rem;
}
[square] > [part] {
  height: 1.6rem;
  position: absolute;
  width: 1.6rem;
}
[square] > [part~="top"] {
  top: 0;
}
[square] > [part~="bottom"] {
  bottom: 0;
}
[square] > [part~="right"] {
  right: 0;
}
[square] > [part~="left"] {
  left: 0;
}
[square] > [part~="center"] {
  left: 1rem;
}

[aria-label] {
  position: relative;
  cursor: pointer;
}
[aria-label]:after {
  background: #1c1d21;
  border-radius: 2px;
  bottom: 100%;
  color: #fff;
  content: attr(aria-label);
  left: 50%;
  margin-bottom: 10px;
  opacity: 0;
  padding: .5em 1em;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, 0.4rem);
  transform-origin: top;
  transition: all .18s ease-out .18s;
  text-indent: 0;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
  font-size: 1.2rem;
  white-space: normal;
  width: 80px;
  z-index: 10;
}
[aria-label]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #1c1d21;
  opacity: 0;
  pointer-events: none;
  transition: all .18s ease-out .18s;
  content: "";
  position: absolute;
  z-index: 10;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0.4rem);
  transform-origin: top;
}
[aria-label]:hover:before, [aria-label]:hover:after {
  opacity: 1;
  pointer-events: none;
  transform: translate(-50%, 0);
}
