button, input, select, textarea {
  border: 1px solid #1c1d21;
  display: block;
  margin: 0.2rem 0;
  outline: none;
  padding: 0.2rem 0.4rem;
  width: 100%;
}
button:focus, button:hover, input:focus, input:hover, select:focus, select:hover, textarea:focus, textarea:hover {
  border-color: #3e92cc;
}
button[error], input[error], select[error], textarea[error] {
  border-color: #e45649;
}
button[success], input[success], select[success], textarea[success] {
  border-color: #50a14f;
}

button[type="button"], input[type="button"] {
  border-radius: 0.2rem;
}
