[panel] {
  display: block;
  margin: 0.8rem 0;
  position: relative;
}
[panel] > [body] {
  color: #555555;
  font-size: 1.4rem;
}
[panel] > [foot] {
  color: #555555;
  font-size: 1.4rem;
}

[panel] > [head] {
  color: #555555;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
[panel] > [head] h3 {
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 0.2rem;
}
[panel] > [head] p, [panel] > [head] > * {
  font-size: 1.4rem;
  line-height: 1.6rem;
}
