[aria-label] {
  position: relative;
  cursor: pointer;
}
[aria-label]:after {
  background: #1c1d21;
  border-radius: 2px;
  bottom: 100%;
  color: #fff;
  content: attr(aria-label);
  left: 50%;
  margin-bottom: 10px;
  opacity: 0;
  padding: .5em 1em;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, 0.4rem);
  transform-origin: top;
  transition: all .18s ease-out .18s;
  text-indent: 0;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
  font-size: 1.2rem;
  white-space: normal;
  width: 80px;
  z-index: 10;
}
[aria-label]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #1c1d21;
  opacity: 0;
  pointer-events: none;
  transition: all .18s ease-out .18s;
  content: "";
  position: absolute;
  z-index: 10;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0.4rem);
  transform-origin: top;
}
[aria-label]:hover:before, [aria-label]:hover:after {
  opacity: 1;
  pointer-events: none;
  transform: translate(-50%, 0);
}
