<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#17181c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#17181c">
    <title>{{ title }} | stry</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#17181c">
    <link rel="preload" as="style" href="/assets/stylus.css">
    <link rel="preload" as="style" href="/css/stry.css">
    <link rel="preload" as="script" href="/js/stry.js">
    <link rel="preload" as="script" href="/js/mousetrap.js">
    <link rel="preload" as="script" href="/js/marked.js">
    <link rel="preload" as="style" href="/css/easymde.css">
    <link rel="preload" as="script" href="/js/easymde.js">
    <link rel="stylesheet" media="all" href="/assets/stylus.css">
    <link rel="stylesheet" media="all" href="/css/stry.css">
</head>

<body theme="dark">

    <div id="container">

        <nav class="nav nav--search">
            <h1 class="nav__brand"><a href="/">stry</a></h1>
            <ul class="nav__left">
                <li class="nav__item"><a href="/explore/authors?page=1">authors</a></li>
                <li class="nav__item"><a href="/explore/origins?page=1">origins</a></li>
                <li class="nav__item"><a href="/explore/warnings?page=1">warnings</a></li>
                <li class="nav__item"><a href="/explore/pairings?page=1">pairings</a></li>
                <li class="nav__item"><a href="/explore/characters?page=1">characters</a></li>
                <li class="nav__item"><a href="/explore/tags?page=1">tags</a></li>
            </ul>
            <form class="nav__search" action="/search" method="GET">
                <label class="hidden" for="search">search</label>
                <input type="text" name="search" id="search" placeholder="search"value="{% match search %}{% when Some with (val) %}{{ val }}{% when None %}{% endmatch %}">
            </form>
            <ul class="nav__right">
                <li class="nav__item"><a href="/dashboard">dashboard</a></li>
            </ul>
        </nav>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer class="nav">
            <h1 class="nav__brand"><a href="/"><i>akibisuto</i></a></h1>
            <div class="nav__left"></div>
            <ul class="nav__right">
                <li class="nav__item"><a href="#">v{{ version }}-{{ git }}</a></li>
            </ul>
        </footer>
    </div>

    <script defer src="/js/mousetrap.js"></script>
    <script defer src="/js/stry.js"></script>
    {% block script %}{% endblock %}
</body>

</html>