{% extends "base.html" %}
{% import "macros.html" as m %}

{% block content %}
<div grid="auto">
    <div grid-column="12">
        {% call m::story(story) %}
        <hr />
        <p>Chapter {{ page }}: {{ chapter.name }}</p>
        <hr />
        <div chapter>{{ chapter.rendered|safe }}</div>
        <hr />
        <div pagination>
            <a pager="left{% if is_first %} disabled{% endif %}" href="/story/{{ story.id }}/{% if !is_first %}{{ page - 1 }}{% else %}1{% endif %}">prev</a>
            <p page>{{ page }} / {{ hum_num!(self.story.chapters) }}</p>
            <a pager="right{% if is_last %} disabled{% endif %}" href="/story/{{ story.id }}/{% if !is_last %}{{ page + 1 }}{% else %}{{ story.chapters }}{% endif %}">next</a>
        </div>
    </div>
</div>
{% endblock content %}