{% extends "../base.html" %}

{% block nav__left %}
<li class="nav__item"><a href="/dashboard/tasks">tasks</a></li>
<li class="nav__item"><a href="/dashboard/database">database</a></li>
<li class="nav__item"><a href="/dashboard/settings">settings</a></li>
<li class="nav__item"><a href="/dashboard/stats">stats</a></li>
<li class="nav__item"><a href="/dashboard/about">about</a></li>
{% endblock %}

{% block nav__middle %}{% endblock %}

{% block nav__right %}
<li class="nav__item"><a href="/">return</a></li>
{% endblock %}
