{% extends "base.html" %}

{% block nav__left %}
<li class="nav__item"><a href="/explore/authors?page=1">{{ i18n!(self.meta.user_lang, "nav-top-authors") }}</a></li>
<li class="nav__item"><a href="/explore/origins?page=1">{{ i18n!(self.meta.user_lang, "nav-top-origins") }}</a></li>
<li class="nav__item"><a href="/explore/warnings?page=1">{{ i18n!(self.meta.user_lang, "nav-top-warnings") }}</a></li>
<li class="nav__item"><a href="/explore/pairings?page=1">{{ i18n!(self.meta.user_lang, "nav-top-pairings") }}</a></li>
<li class="nav__item"><a href="/explore/characters?page=1">{{ i18n!(self.meta.user_lang, "nav-top-characters") }}</a></li>
<li class="nav__item"><a href="/explore/tags?page=1">{{ i18n!(self.meta.user_lang, "nav-top-tags") }}</a></li>
{% endblock %}

{% block nav__middle %}
<form class="nav__search" action="/search" method="GET">
    <label class="hidden" for="search">search</label>
    <input type="text" name="search" id="search" placeholder="{{ i18n!(self.meta.user_lang, "nav-top-search") }}"value="{% match search %}{% when Some with (val) %}{{ val }}{% when None %}{% endmatch %}">
</form>
{% endblock %}

{% block nav__right %}
<li class="nav__item"><a href="/dashboard/tasks">{{ i18n!(self.meta.user_lang, "nav-top-dashboard") }}</a></li>
{% endblock %}
