<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#17181c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#17181c">
    <title>{{ title }} | stry</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#17181c">
    <link rel="preload" as="style" href="/assets/stylus.css">
    <link rel="preload" as="style" href="/css/stry.css">
    <link rel="preload" as="script" href="/js/stry.js">
    <link rel="preload" as="script" href="/js/mousetrap.js">
    <link rel="prefetch" as="style" href="/css/font-awesome.css">
    <link rel="prefetch" as="font" href="/fonts/fontawesome-webfont.ttf" type="font/ttf">
    <link rel="prefetch" as="font" href="/fonts/fontawesome-webfont.eot" type="application/vnd.ms-fontobject">
    <link rel="prefetch" as="font" href="/fonts/fontawesome-webfont.woff" type="font/woff">
    <link rel="prefetch" as="font" href="/fonts/fontawesome-webfont.woff2" type="font/woff2">
    <link rel="prefetch" as="style" href="/css/easymde.css">
    <link rel="prefetch" as="script" href="/js/easymde.js">
    <link rel="prefetch" as="script" href="/js/stry.easymde.js">
    <link rel="prefetch" as="style" href="/css/tagify.css">
    <link rel="prefetch" as="script" href="/js/tagify.js">
    <link rel="stylesheet" media="all" href="/assets/stylus.css">
    <link rel="stylesheet" media="all" href="/css/stry.css">
    {% block head %}{% endblock %}
</head>

<body class="theme--dark">

    <div id="container">

        <nav class="nav nav--search">
            <h1 class="nav__brand"><a href="/">stry</a></h1>
            <ul class="nav__left">
                {% block nav__left %}{% endblock %}
            </ul>
            {% block nav__middle %}{% endblock %}
            <ul class="nav__right">
                {% block nav__right %}{% endblock %}
            </ul>
        </nav>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer class="nav">
            <h1 class="nav__brand"><a href="/">rendered in: {% let dur = duration.num_microseconds() %}{% if dur.is_some() %}{% let val = dur.clone().unwrap() %}{% if val > 1500000 %}{{ duration.num_seconds() }}s{% else if val > 1500 %}{{ duration.num_milliseconds() }}ms{% else %}{{ val }}μs{% endif %}{% else %}{% let val = duration.num_milliseconds() %}{% if val > 1500 %}{{ duration.num_seconds() }}s{% else %}{{ duration.num_milliseconds() }}ms{% endif %}{% endif %}</a></h1>
            <div class="nav__left"></div>
            <ul class="nav__right">
                <li class="nav__item"><a href="#">v{{ meta.version }}-{{ meta.git }}</a></li>
            </ul>
        </footer>
    </div>

    <script defer src="/js/mousetrap.js"></script>
    <script defer src="/js/stry.js"></script>
    {% block foot %}{% endblock %}

</body>

</html>
