@media (max-width: $breakpoint) {
    body {
        margin-bottom: 50vh;
    }
}

@media (min-width: $breakpoint) {
    body {
        margin-bottom: 2.5rem;
        margin-top: 2.5rem;
    }
}

[shadow] {
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}