@import "_variables.scss";

button, input, select, textarea {
    border: 1px solid $color--black;
    border-radius: $padding--small;
    display: block;
    margin: $padding--small 0;
    outline: none;
    padding: $padding--small $padding--normal;
    width: 100%;
}

button[type="button"], input[type="button"] {
    border-radius: $padding--small;
}

body[theme="light"] {
    button, input, select, textarea {
        border-color: $color--black;
    }

    button:focus, input:focus, select:focus, textarea:focus,
    button:hover, input:hover, select:hover, textarea:hover {
        border-color: $color--blue;
    }
    
    button[error], input[error], select[error], textarea[error] {
        border-color: $color--red;
    }

    button[success], input[success], select[success], textarea[success] {
        border-color: $color--green--dark;
    }
}

body[theme="dark"] {
    button, input, select, textarea {
        border-color: $color--gray;
    }

    button:focus, input:focus, select:focus, textarea:focus,
    button:hover, input:hover, select:hover, textarea:hover {
        border-color: $color--blue;
    }
    
    button[error], input[error], select[error], textarea[error] {
        border-color: $color--red;
    }

    button[success], input[success], select[success], textarea[success] {
        border-color: $color--green;
    }
}
