@import "_variables.scss";

[nav] {
    display: flex;
    flex-wrap: nowrap;
}

[nav~="primary"] {
    line-height: $height--large;

    > [nav-section] > [nav-item] > * {
        line-height: $height--large;
    }
}

[nav~="primary"] > [nav-section] {
    > input[nav-item],
    > select[nav-item] {
        line-height: 2rem;
        margin: (($height--normal - 2.4rem + 0.2rem) / 2 + 0.1rem) $padding--large;
    }
}

[nav~="secondary"] {
    line-height: $height--normal;
    overflow-y: auto;

    > [nav-section] > [nav-item] > * {
        line-height: $height--normal;
    }
}

[nav-section] {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: nowrap;
}

[nav-section~="grow"] {
    flex: 1 1 auto;
}

[nav-item] {
    color: $color--white;
    flex: 0 1 auto;

    > * {
        color: $color--white;
        display: block;
        padding: 0 $padding--large;
    }

    > a, > a:link {
        color: $color--white;
        white-space: nowrap;
    }
}

[nav-item~="brand"] {
    font-weight: bold;
}

body[theme="light"] {
    [nav~="primary"] > [nav-section] > input[nav-item],
    [nav~="primary"] > [nav-section] > select[nav-item] {
        color: $color--black;
    }

    [nav-item] {
        color: $color--white;
    }

    [nav-item] > * {
        color: $color--white;
    }

    [nav-item] > a, [nav-item] > a:link {
        color: $color--white;
    }
}

body[theme="dark"] {
    [nav~="primary"] > [nav-section] > input[nav-item],
    [nav~="primary"] > [nav-section] > select[nav-item] {
        background-color: $color--black--lightish;
        color: $color--white;
    }

    [nav-item] {
        color: $color--white;
    }

    [nav-item] > * {
        color: $color--white;
    }

    [nav-item] > a, [nav-item] > a:link {
        color: $color--white;
    }
}